<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head')  %>
</head>

<body>
    <div id="popUp">
        <section id="cancel">

            <i id="cancelIcon" class="fa fa-times"></i>
            <iframe id="url" src="" frameborder="10">

            </iframe>
        </section>

    </div>

    <%- include ('../layout/header') %>
    <main>
        <% let count=0 %>

        <% result.forEach (obj => { %>
        <section id="news-section">

            <section>

                <img id="news-img" src=" <%= obj.image %> " alt="" />

            </section>

            <section class="rows">
                <section>

                    <a id="<%=count %>" class="news-title" name=" <%= obj.url %> ">
                        <h1 id="<%=count %>" class="news-title"><%= obj.title %></h1>
                    </a>
                </section>
                <section>
                    <p id="news-p"><%= obj.description %></p>
                </section>
                <section>
                    <form action="/fav/<%= obj.id%>?_method=DELETE" method="POST">
                        <button class="delet-button">
                            <i class="fa fa-trash"></i> delete </button>
                    </form>
                </section>

            </section>
        </section>
        <%count=count+1 %>
        <% }); %>

    </main>
    <%- include ('../layout/footer') %>
    <script src="/js/popup.js"></script>

</body>

</html>