<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head')  %>
</head>

<body>
    <%- include ('../layout/header') %>
    <main>
        <form action="/search" method="POST">
            <input type="text" name="country" placeholder="enter a countray name">
            <input type="date" name="date" placeholder="enter a date ">
            <button id="ShowResult" type="submit">Search</button>
        </form>

        <div>
            <section>
                <img src="" alt="">
                <p> <%=result.Confirmed %></p>
            </section>

            <section>
                <img src="" alt="">
                <p> <%=result.Deaths %></p>
            </section>

            <section>
                <img src="" alt="">
                <p> <%=result.Recovered %></p>
            </section>

            <section>
                <img src="" alt="">
                <p> <%=result.Active %></p>
            </section>
        </div>
        
        <div>
            <section>
                <li> <%=result.TotalConfirmed %></li>
                <li> <%=result.TotalDeaths %></li>
                <li> <%=result.TotalRecovered %></li>
            </section>



        </div>




    </main>
    <%- include ('../layout/footer') %>
    <script src="../../public/js/showResult.js"></script>

</body>

</html>